.top-margin {
  margin-top: 20px;
}

button {
  width: 100%;
}

.box1 {
  float: right;
}

.result-cards {
  height: 250px;
}

h3 {
  text-align: center;
}

#result-row {
  text-align: center;
}

#result1-card #result2-card {
  font-size: 20px;
}